{% load static %}
{% include 'busca/partials/_header.html' %}
    <header>
        Digite o seu CEP: <input placeholder="apenas números" type="text">
            <!-- Um filtro geral para listar todas as empresas -->
        <select name="filter" id="mainfilter">
            <option value="todos">Todos</option>
            <option value="combos">Combos</option>
            <option value="internet">Internet</option>
            <option value="promo">Promoções</option>
        </select>
        <a href="{% url 'pesquisa' %}"><button>Pesquisar</button></a>
    </header>
    <section>
        <h2>Resultados</h2>
        <label for="filter">Filtrar:</label>
        <select id="filter">
            <!-- Filtros para ordenação -->
            <option value="default">A-Z</option>
            <option value="menorPreco">Menor Preço</option>
            <option value="maiorPreco">Maior Preço</option>
        </select>
        <ul>
        {% for item in provedores %}
        <li>- {{ item.apelido }} - {{ item.servico }} - R$ {{ item.preco }}</li>
        {% endfor %}
        </ul>
    
    </section>
</body>
</html>